<div class="container">
  <h3 class="ml-3">my tasks</h3>
   
  <div class="col-md-12">
     <div class="row">
       <div class="col-md-4 mt-4">
          <div class="card">
            <div class="card-body">
              <h5>tarea 1</h5>
                <p class="card-text">description 1</p>

                 <hr>

                 <div class="row justify-content-between container">
                   <div class="col-md-6">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editmodal">edit</button>
                   </div>
                   <div class="col-md-6">
                     <button type="button" class="btn btn-danger ml-2">delete</button>
                   </div>

                 </div>
            </div>
          </div>
       </div>
     </div>
  </div>
</div>
